<!DOCTYPE html>
<html lang="en">
    <%- include('./includes/head', {title: "Home"}) %>
<body> 
    <h1>Actions:</h1>
    <a class="button" href="upload">Upload a file</a>
    <h1>Files:</h1>
    
    
</body>
</html>