<!DOCTYPE html>
<%- include('includes/head', {title: "upload a file"}) %>
<body>
    <h1> Upload a file :</h1>
    <form action="/up" method="post" enctype="multipart/form-data">
        <label for="myFile">Choose a file:</label>
        <input type="file" name="myFile" id="myFile" required />

        <label for="newFileName">Rename file (optional):</label>
        <input type="text" name="newFileName" id="newFileName" placeholder="Enter new file name" />

        <button type="submit">upload file</button>
    </form>

</body>